<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bento - Learn to code</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="fb:admins" content="1031670302" />
        <meta name="pocket-site-verification" content="87443ab7c05b21e6b28ca571bc0e11" />
        <meta property="og:image" content="http://www.bentobox.io/images/logo.png"/>
        <meta property="og:title" content="Bento - Learn to code"/>
        <meta property="og:url" content="http://www.bentobox.io/"/>
        <meta property="og:site_name" content="Bento - Learn to code"/>
        <meta property="og:description" content="Everything you need to know about web development. Neatly packaged. Learn HTML, CSS, Javascript, Python, Rails, Node, and more in each box! Made with love in NYC by @jonhmchan.">
        <meta property="og:type" content="website"/>
        <meta name="description" content="Everything you need to know about web development. Neatly packaged. Learn HTML, CSS, Javascript, Python, Rails, Node, and more in each box! Made with love in NYC by @jonhmchan.">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

        <!-- Twitter -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </head>
    <body ng-controller="masterCtrl">
        <div id="fb-root"></div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" name="sponsorship" id="sponsorship"> <!-- Paypal Form -->
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="894L6CFYWV3BG">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <div id="hide" ng-hide="working">
                <div id="message" style="display: none;">
                    <h1>Making some changes</h1>
                    <p>Please come back in a few moments! If you want updates, tweet at me <a href="http://twitter.com/johmchan">@jonhmchan</a></p>
                    <p>Developers, take a look at <a href="https://github.com/JonHMChan/bento/tree/gh-pages" target="_blank">the GitHub</a></p>
                </div>
            </div>
            <!--
            <div id="donate">
                <h2>Find this useful? Give back and <a target="_self" href="#" ng-click="fire_sponsorship()">become a sponsor</a> for just $1!</h2>
            </div>
            -->
            <div id="toolbar" ng-show="current_box != null">
                <div class="row-fluid">
                    <a ng-click="toggleInactiveBoxes()" href="#{{ current_box }}">{{ toggleAction() }} inactive boxes</a> | <a ng-click="current_box = null" href="#{{ current_box }}">Close active box</a>
                </div>
            </div>
            <div id="modal" ng-show="more_index != null">
                <h2>{{ boxes[more_index].name  }}</h2>
                <div class="row-fluid">
                    <div class="span2 offset3">
                        <h4>Easy</h4>
                        <div ng-repeat="($key, link) in boxes[more_index].links.findAll({level: 0})">
                            <a target="_blank" href="{{ link.url  }}">{{ link.name  }}</a>
                        </div>
                        <div ng-show="boxes[more_index].links.findAll({level: 0}).length == 0">
                            <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                        </div>
                    </div>
                    <div class="span2">
                        <h4>Medium</h4>
                        <div ng-repeat="($key, link) in boxes[more_index].links.findAll({level: 1})">
                            <a target="_blank" href="{{ link.url  }}">{{ link.name  }}</a>
                        </div>
                        <div ng-show="boxes[more_index].links.findAll({level: 1}).length == 0">
                            <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                        </div>
                    </div>
                    <div class="span2">
                        <h4>Hard</h4>
                        <div ng-repeat="($key, link) in boxes[more_index].links.findAll({level: 2})">
                            <a target="_blank" href="{{ link.url }}">{{ link.name  }}</a>
                        </div>
                        <div ng-show="boxes[more_index].links.findAll({level: 2}).length == 0">
                            <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                        </div>
                    </div>
                </div>
                <br/>
                <a href="" ng-click="more_index = null">Close</a>
            </div>
            <div id="container">
                <header>
                    <h1>bento</h1>
                    <h4 style="padding: 0px; margin: 0px;">Everything you need to know about web development. Neatly packaged.</h4>

                    <p><a href="http://nytm.org/made-in-nyc" target="_blank">Made with &#9829; in NYC</a> by <strong><a href="http://twitter.com/jonhmchan" target="_blank">@jonhmchan</a></strong></p>

                    <div style="padding-left: 20px;">
                        <div ng-show="more_index == null" class="fb-like" data-href="http://www.bentobox.io/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>

                        &nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="#bento An awesome cheat sheet for everything about web development. Check it out!" data-via="JonHMChan">Tweet</a>
                    </div>

                    <!--
                     <p id="donate_line" style="margin: 0px;">Find this useful? Consider donating $<input id="max_amount" type="text" name="max_amount" value="10" placeholder="1 min." style="width: 50px;" ng-focus="show_sponsorship()"> a month and help others learn to code
                     </p>
                     <p style="padding: 0px; font-weight: bold;">
                        <a target="_self" style="padding: 7px 20px;" class="btn btn-primary" href="#" ng-click="fire_sponsorship()">Give back</a>
                     </p>
                     <div id="sponsorship_tiers" class="row-fluid hidden">
                        <div class="row-fluid"><p>Contribute as little as $1. Cancel any amount at any time</p></div>
                        <div class="row-fluid">
                            <div class="span4 sponsorship_tier" ng-click="set_sponsorship(10)">
                                <h3>$10</h3>
                                <p>Added to <a href="#sponsors">sponsors section</a></p>
                            </div>
                            <div class="span4 sponsorship_tier" ng-click="set_sponsorship(25)">
                                <h3>$25</h3>
                                <p>Link to your <a href="#sponsors">twitter</a></p>
                            </div>
                            <div class="span4 sponsorship_tier" ng-click="set_sponsorship(50)">
                                <h3>$50</h3>
                                <p>Video chat with me</p>
                            </div>
                        </div>
                     </div>
                     <div class="row-fluid" ng-show="false">
                         <div class="span8 offset2" id="donate_container">
                            <div id="donate_progress" style="width: {{ donate_progress }}%;">
                                <div id="donate_progress_number">{{ donate_progress }}%</div>
                            </div>
                            <div id="donate_progress_label">Progress to donations goal</div>
                         </div>
                     </div>
                     -->
                </header>
                <div id="welcome_container" class="top_info" ng-hide="!welcome">
                    <div class="row-fluid">
                        <div class="span2 offset1" id="welcome_image">
                            <p><img src="images/author.png" alt="Jon Chan" width="175" height="175"></p>
                            <a href="https://twitter.com/jonhmchan" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large">@jonhmchan</a>
                        </div>
                        <div class="span8">
                            <h2>Welcome</h2>
                            <p>My name is <a href="http://twitter.com/jonhmchan" target="_blank">Jon Chan</a>, and I'm the creator of Bento. I made Bento to help people learn how to code. As someone that's completely self-taught in web development, I learned to code on the web when there were few resources out there. Things are different now - there are so many ways to learn that it's hard to figure out where to start. I'll be your guide in navigating the many resources out there. This is my way of passing on the knowledge that I have about coding to others. <a href="#" ng-click="welcome = false; next_steps = true;">Let's get started</a></p>
                        </div>
                    </div>
                </div>
                <div id="next_steps_container" class="top_info" ng-hide="!next_steps">
                    <div class="row-fluid">
                        <div class="span2 offset1" id="next_steps_image">
                            <a href="https://twitter.com/jonhmchan" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large">@jonhmchan</a>
                            <p>
                                <div ng-show="more_index == null" class="fb-like" data-href="http://www.bentobox.io/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>

                                &nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="#bento An awesome cheat sheet for everything about web development. Check it out!" data-via="JonHMChan">Tweet</a>
                            </p>
                        </div>
                        <div class="span8">
                            <h2>How to use Bento</h2>
                            <p>There's no right way to use Bento, but there are definitely things you should keep in mind</p>
                            <ul>
                                <li>When you click on a box, the next lessons you get will be highlighted</li>
                                <li>You can see more links for each box by clicking 'more' at the bottom</li>
                                <li>Use the <a href="group.html" target="_blank">study group</a> if you're having trouble</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="box_container" class="container-fluid">
                    <div class="span3 box_container">
                        <div id="started" class="box">
                            <h2>Start here</h2>
                            <p>Learn more about this site</p>
                            <div>
                                <a href="#" ng-click="welcome = true; next_steps = false;">Welcome</a>
                            </div>
                            <div>
                                <a href="#" ng-click="welcome = false; next_steps = true">Next steps</a>
                            </div>
                            <div>
                                <a href="group.html" target="_blank">Join the community</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3 box_container hidden-{{ in_next_boxes(box.name) }}-{{ !showInactiveBoxes }}" ng-repeat="($index, box) in boxes">
                        <div id="{{ box.name }}" class="box highlight-{{ in_next_boxes(box.name) }} hidden-{{ in_next_boxes(box.name) }}-{{ !showInactiveBoxes }}" ng-click="set_next_boxes(box, $index)">
                            <a name="{{ box.name }}"></a>
                            <a target="_blank" class="title" name="{{ box.name }}" href="{{ box.home }}">{{ box.name }}</a>                        
                            <p>{{ box.description }}</p>
                            <div ng-repeat="($key, link) in box.links.findAll({level: 0})">
                                <a target="_blank" href="{{ link.url  }}" ng-show="$key < 2">{{ link.name  }}</a>
                            </div>
                            <div ng-show="box.links.length > 2">
                                <a target="_blank" href="" ng-click="show_more($index)">More</a>
                            </div>
                            <div ng-show="box.links.length == 0">
                                <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3 box_container">
                        <div id="contact" class="box">
                            <h2>About Me</h2>
                            <p>Thanks for checking this out!</p>
                            <div>
                                <a target="_blank" href="http://www.linkedin.com/in/jonhmchan">Resume</a>
                            </div>
                            <div>
                                <a target="_blank" href="mailto:me@jonhmchan.com">Email</a>
                            </div>
                            <div>
                                <a target="_blank" href="http://jonhmchan.com/">Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pull" class="container-fluid">
                    <h2>Have a suggestion or want to add? Make a <a href="https://github.com/JonHMChan/bento/tree/gh-pages" target="_blank">pull request</a></h2>
                </div>
                <div id="sponsors" class="container-fluid"> 
                    <a name="sponsors"></a>     
                    <h2>sponsors</h2>
                        <div class="span3 sponsor" ng-repeat="sponsor in sponsors.other">
                            <span ng-show="sponsor.tier == 0">{{ sponsor.name }}</span>
                            <a href="http://twitter.com/{{ sponsor.twitter }}" target="_blank" class="sponsor_top_{{ sponsor.tier == 2 }} " ng-show="sponsor.tier > 0">{{ sponsor.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/nfk4tql.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Sugar -->
        <script src="http://sugarjs.com/release/current/sugar.min.js"></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <!-- Ribbon -->
        <script type="text/javascript" src="javascripts/ribbon-modal.mod.js"></script>

        <script src="javascripts/plugins.js"></script>
        <script src="content_backup.js"></script>
        <script src="javascripts/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-44156304-1']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- Facebook -->
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=521121077928184";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>
