<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bento - Sponsorship</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="fb:admins" content="1031670302" />
        <meta name="pocket-site-verification" content="87443ab7c05b21e6b28ca571bc0e11" />
        <meta property="og:image" content="http://www.bentobox.io/images/logo.png"/>
        <meta property="og:title" content="Bento"/>
        <meta property="og:url" content="http://www.bentobox.io/"/>
        <meta property="og:site_name" content="Bento"/>
        <meta property="og:description" content="Everything you need to know about web development. Neatly packaged. Made by @jonhmchan.">
        <meta property="og:type" content="website"/>
        <meta name="description" content="Everything you need to know about web development. Neatly packaged. Made by @jonhmchan.">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/nfk4tql.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ng-controller="masterCtrl">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="donate">
            <h2>Questions? Shoot me <a href="mailto:me@jonhmchan.com">an email</a>. I'd love to talk.</h2>
        </div>
        <div id="container">
            <header>
                <h1>bento</h1>
            </header>
            <div id="sponsor_container" class="container-fluid">
                <h1>Help others learn by becoming a brand sponsor</h1>
                <h3>Bento is viewed <span class="highlight_2">over 10,000 times a day</span> by budding coders from <span class="highlight_2">over 180 countries</span>.</h3>
                <h3>Grow your brand, find engineers, and become a partner in supporting passionate self-learners all over the world. The more you contribute, the more visibility you get, and you can cancel any time.</h3>
                <br/>
                <div class="row-fluid">
                    <div class="span4">
                        <h3 class="highlight">$250/mo</h3>
                        <h4>Logo with link in sponsors list</h4>
                    </div>
                    <div class="span4">
                        <h3 class="highlight">$500/mo</h3>
                        <h4>Logo with link in dedicated boxes</h4>
                    </div>
                    <div class="span4">
                        <h3 class="highlight">$1,000/mo</h3>
                        <h4>A dedicated box with linked logo</h4>
                    </div>
                </div>
                <br/>
                <div class="row-fluid">
                    <iframe src="http://rbn.co/0d4199?embed_open=true" frameborder="0" width="435px" height="908"></iframe>
                </div>
                <br/>
                <div class="row-fluid">
                    <h3>Questions? Please email me at <a href="mailto:me@jonhmchan.com">me@jonhmchan.com</a>. I'd love to talk.</h3>
                    <p>Especially if you're from any of these organizations</p>
                </div>
                <br/>
                <div id="sponsors" class="container-fluid">
                    <div class="span3 sponsor" ng-repeat="sponsor in sponsors.desired">
                        {{ sponsor }}
                    </div>
                </div>
            </div>
            <div id="sponsors" class="container-fluid">
                <h2>sponsors</h2>
                    <div class="span3 sponsor" ng-repeat="sponsor in sponsors.other">
                        <span ng-show="sponsor.tier == 0">{{ sponsor.name }}</span>
                        <a href="http://twitter.com/{{ sponsor.twitter }}" target="_blank" class="sponsor_top_{{ sponsor.tier == 2 }} " ng-show="sponsor.tier > 0">{{ sponsor.name }}</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <h3>guidelines</h3>
                    <ol>
                        <li><strong>You cannot just pay to add links in content boxes</strong>. It may be more likely that your link will be added if you sponsor (it will be apparent to the community that curates this site). Whether your link is included is ultimately based on how useful the content is. Anyone is free to add links into any of the boxes, and they are curated by myself and other contributors. Suspected abuse will be made public and result in removal altogether.
                        <li><strong>You cannot just pay to reorder links in content boxes</strong>. Again, it may be more likely that your link will be put in a favorable spot if you sponsor (it will be apparent to the community that curates this site). Link order is ultimately based on how useful the content is. Anyone is free to reorder the links in any of the boxes. Suspected abuse will be made public and result in removal altogether.</li>
                        <li><strong>If you want brand visibility, contribute more</strong>. The more your contribute, the higher up on the page and the larger your logo will appear. Look at the tiers at the top of the page for more information.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- Sugar -->
        <script src="http://sugarjs.com/release/current/sugar.min.js"></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

        <!-- Underscore -->
        <script src="http://underscorejs.org/underscore-min.js"></script>

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <!-- Ribbon -->
        <script type="text/javascript" src="javascripts/ribbon-modal.mod.js"></script>

        <script src="javascripts/plugins.js"></script>
        <script src="javascripts/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-44156304-1', 'bentobox.io');
          ga('send', 'pageview');
        </script>
    </body>
</html>
